@import './utils/mixins'

.carousel
  width: 100%
  display: inline-flex
  position: relative

  overflow: hidden
  
.slide
  display: none
  position: relative
  min-width: 100%

  float: left

  &[data-active="true"]
    display: flex

    +mobile-small 
      flex-direction: column

    +mobile-medium
      flex-direction: column

    +mobile-large
      flex-direction: column

  &__img
    max-width: 100%
    object-fit: contain

    +mobile-small
      order: 2
      margin: 10% 0

    +mobile-medium
      order: 2
      margin: 10% 0

    +mobile-large
      order: 2
      margin: 10% 0

    +tablet
      width: 50%

.review
  display: flex
  flex-direction: column
  justify-content: center
  margin-left: 3%

  +mada-light(1rem)

  &__text
    margin-bottom: 3%
    position: relative

    font-size: 3rem
    line-height: 4.19rem

    +desktop-small
      font-size: 2.5rem

    +mobile-small 
      margin: 10% 0 0 10%

      text-align: center
      font-size: 2.5rem
      line-height: 3.5rem

    +mobile-medium
      margin: 10% 0 0 10%
      
      text-align: end
      font-size: 2.5rem
      line-height: 3.5rem

    +mobile-large
      margin: 10% 0 0 5%

      text-align: end
      font-size: 2.5rem
      line-height: 3.5rem

    +tablet
      font-size: 2.2rem
      line-height: 3.5rem
    
    &::before
      position: absolute
      top: -25%
      left: -10% 

      +mada-black(61px)
      content: '„'

      +mobile-small
        top: -15%
        left: -15%

      +mobile-medium
        top: -10%
        left: -5%

      +mobile-large
        top: -15%
        left: -3%

      +desktop-small
        left: -15%

  &__author
    margin-bottom: 5%

    font-size: 2.2rem
    line-height: 2.69rem

    +mobile-small
      text-align: end
      font-size: 2rem

    +mobile-medium
      text-align: end
      font-size: 2rem

    +desktop-small
      font-size: 2rem

    a
      color: $white
      cursor: pointer

  &__tags
    display: flex
    color: $white

    +mobile-small
      align-self: flex-end

    +mobile-medium
      align-self: flex-end

    +mobile-large
      align-self: flex-end

.tag
  padding: 0.6% 1.1%
  margin-right: 1%

  font-size: 1.488rem
  line-height: 1.82rem

  border: 1px solid $white

  +mobile-small
    &:last-child
      margin-right: 0

  +mobile-medium
    &:last-child
      margin-right: 0

  +mobile-large
    &:last-child
      margin-right: 0

  +tablet
    &:last-child
      margin-right: 0
  

.dots
  position: absolute
  display: inline-flex
  justify-content: center
  bottom: 0
  left: 40%    

.dot
  display: block
  top: 100%
  left: 50%
  width: 15px
  height: 15px
  margin-left: 10px

  background-color: rgba($white, 0.5)
  border-radius: 50%

  &[data-active="true"]
    background-color: $white