@import './utils/mixins'

.carousel
  width: 100%
  display: inline-flex
  position: relative
  
.slide
  display: none
  position: relative
  min-width: 100%

  float: left

  &[data-active="true"]
    display: flex

    +media(0px, $desktop-small)
      flex-direction: column

  &__img
    max-width: 100%
    object-fit: contain

    +media(0px, $desktop-small)
      order: 2
      margin: 10% 0

.review
  display: flex
  flex-direction: column
  justify-content: center
  margin-left: 3%

  +mada-light(1rem)

  &__author
    margin-bottom: 5%

    font-size: 2.2rem
    line-height: 2.69rem

    +phone-small
      font-size: 2rem

    +media(0px, $phone-medium)
      text-align: end

    a
      color: $white
      cursor: pointer

  &__tags
    display: flex
    color: $white

    +media(0px, $tablet)
      align-self: flex-end

.tag
  padding: 0.6% 1.1%
  margin-right: 1%

  font-size: 1.488rem
  line-height: 1.82rem

  border: 1px solid $white

  +media(0px, $desktop-small)
    &:last-child
      margin-right: 0