@import './base/colors'
@import './base/typography'
@import './utils/mixins'

.modals 
  display: inline-block
  
.modal 
  &--invalid
    display: inline-block
    align-self: start
    margin: 0 2% 2% 0
    padding: 0 2%
    width: auto
    font-size: 2rem
    line-height: 3rem

    background-color: $white

    border: 2px solid $red
    border-radius: 4px

  &--cookies
    position: fixed
    display: flex
    bottom: 0
    left: 0
    padding: 2% 15%
    align-items: center
    justify-content: space-between

    background-color: rgba(darken($mine-shaft, 4.5), 0.83)

    z-index: 6

    +mobile-small
      padding: 2% 10%
      flex-direction: column
    
    +mobile-medium
      padding: 2% 10%
      flex-direction: column

    +mobile-large
      padding: 2% 10%
      // flex-direction: column

    &__img 
      margin-right: 5%

      +mobile-small
        margin-bottom: 5%

      +mobile-medium
        margin-bottom: 2%

      +mobile-large
        margin-bottom: 2%

    &__text
      +mada-regular(1.4rem)
      line-height: 1.89rem
      letter-spacing: 0.25
      color: $white
      width: 80%

      +mobile-small
        width: 100%

      +mobile-medium
        width: 100%

      +mobile-large
        width: 100%

      a
        color: $lima

  &--section-counter
    position: absolute
    top: 35%
    right: 0
    +homenaje(1.9em)
    letter-spacing: 0.75 

    +mobile-small
      display: none

    +mobile-medium
      display: none

    +mobile-large
      display: none

    &[data-active="true"]
      padding: 40px 46px

      transition: padding-right 1s

    &[data-active="false"]
      padding: 40px 10px 40px 

      transition: padding-right 1s

    &[data-color="dark"]
      border-bottom: 1px solid darken($tundora, 2.8%)
      color: $thunder
    &[data-color="light"]
      border-bottom: 1px solid $white
      color: $white
