@import './base/colors'
@import './base/typography'
@import './components/checkboxes'

.container--contact
  &__title
    +homenaje(5rem)
    color: $mine-shaft

    +media(0px, $tablet)
      margin-bottom: 5%

      font-size: 4rem
      text-align: center

    +media($phone-large, $desktop-small)
      font-size: 4.5rem

    +tablet
      margin-bottom: 0

  & > .btn--contact
    padding: 0 1rem
    max-height: 4rem

.contact
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  padding: 0 10%

  +media(0px, $desktop-small)
    padding: 0

  &__description
    margin-top: 5%

    strong
      font-weight: 400

    +mada-light(2.2rem)
    color: darken($mine-shaft, 0.1)

    +media(0px, $desktop-small)
      margin-top: 5%
      text-align: center

    +desktop-small
      font-size: 2rem

.form--contact
  display: flex
  flex-direction: column
  width: 100%
  margin-top: 5%
  position: relative

  +mada-light(3rem)
  line-height: 4.19rem

  +media(0px, $desktop-small)
    font-size: 2.5rem

  +desktop-small
    font-size: 2.7rem

  span
    display: block

    +media(0px, $phone-large)
      display: inline-flex
      flex-direction: column

  input
    margin: 0 1%
    padding: 0.5% 1%
    margin-bottom: 0.5%

    +mada-light(2rem)

    background-color: $alabaster

    border: none
    border-bottom: 2px solid $dusty-grey

    +media(0px, $tablet)
      display: inline-flex

    &::placeholder
      font-size: 1.4rem

    &:focus
      & ~ .checkbox--contact
        outline: 5px auto -webkit-focus-ring-color

    &.invalid
      outline: 1px solid $red

  & .checkbox--contact__label
    display: flex
    align-items: center
    justify-content: center
    position: relative
    margin: 1.5% 0 5% 0
    padding-left: 3rem

    +mada-light(1.8rem)
    line-height: 4.19rem
    color: darken($mine-shaft, 0.1)

    cursor: pointer

    &:hover input ~ .checkbox--contact
      background-color: $mercury      

    input[type="checkbox"]
      position: absolute
      left: -100%
      opacity: 0

      &:checked ~ .checkbox--contact
        background-color: $lima
        border: 1px solid $scorpion

      &:checked ~ .checkbox--contact::after
        display: block
        position: absolute
        top: 10%
        left: 30%

    .checkbox--contact
      width: 2rem
      height: 2rem
      box-sizing: border-box

      background-color: $white

      border: 1px solid $alto

      &::after
        position: absolute
        display: none

        content: ""

  & > .btn--contact
    align-self: center

    +phone-large
      max-width: 40%