@import '../base/colors'
@import '../base/typography'
@import '../utils/variables'


.container--header
  height: 100vh
  padding: 0 15%
  justify-content: center

  background: url('../images/header_background.jpg') no-repeat center center fixed
  background-size: cover

  overflow: hidden
  
.nav--main
  position: fixed
  display: flex
  width: 70%
  height: 14%

  &__buttons
    display: inline-block
    margin-right: auto

  &[data-scroll="true"]
    background-color: darken($mine-shaft, 4%)
  
.logo
  display: inline-flex
  width: $nav-size
  height: $nav-size
  justify-content: center

  & img 
    align-self: center

  &[data-scroll="true"]
    background-color: darken($mine-shaft, 4%)

.menu
  display: inline-flex
  margin-right: auto

  &__item
    display: flex
    padding: 3.38% 50px 3.38% 0
    align-items: center

    color: $white
    text-decoration: none
    +mada-light(1.4em)
    text-transform: uppercase
    letter-spacing: 0.25
    

    &::before
      width: 2px
      height: 55px
      margin-right: 50px

      background-color: rgba($white, 0.5)
      content: ''

    &:first-child
      &::before
        width: 0
        height: 0

        background: none
      
.header__title
  text-align: center
  +homenaje(5.8em)
  text-transform: uppercase
  align-self: center
  color: $mine-shaft

  & > :first-child
    display: block
    color: $white


