@import '../base/colors'
@import '../base/typography'
@import '../utils/variables'


.container--header
  height: 100vh
  padding: 0 15%
  justify-content: center
  position: relative

  background: url('../images/header_background.jpg') no-repeat center center fixed
  background-size: cover

  overflow: hidden
  
.nav--main
  position: fixed
  display: flex
  width: 70%
  height: $nav-size

  z-index: 10

  &__buttons
    display: inline-block
    margin-right: auto

  &[data-scroll="true"]
    background-color: lighten($mine-shaft, 2.5)
    z-index: 10
  
.logo
  display: inline-flex
  width: $nav-size
  height: $nav-size
  justify-content: center

  & img 
    align-self: center

  &[data-scroll="true"]
    background-color: lighten($mine-shaft, 2.5)

  &[data-visible="false"]
    display: none

.menu
  display: inline-flex
  margin-right: auto

  &__item
    display: flex
    padding: 3.38% 3rem 3.38% 0
    align-items: center

    color: $white
    text-decoration: none
    +mada-light(1.4rem)
    line-height: 2.898rem
    text-transform: uppercase
    letter-spacing: 0.25
    
    &:hover
      background-color: lighten($mine-shaft, 4.5)

    &::before
      width: 2px
      height: 55px
      margin-right: 3rem

      background-color: rgba($white, 0.5)
      content: ''

    &:first-child
      &::before
        width: 0
        height: 0

        background: none

  &[data-visible="false"]
    display: none
      
.header__title
  text-align: center
  +homenaje(5.8rem)
  line-height: 6.048rem
  text-transform: uppercase
  align-self: center
  color: $mine-shaft

  > :first-child
    display: block
    
    color: $white


