@import './base/colors'
@import './base/typography'
@import './utils/variables'

.address
  display: flex
  flex-direction: column
  justify-content: center
  height: $map-height
  padding: 0 2% 0 15%
  box-sizing: border-box

  +mada-light(2.2rem)
  color: $mine-shaft
  line-height: 2.4rem

  +media(0px, $tablet)
    font-size: 2rem
    align-items: center
    padding-left: 0
    order: 2

  +tablet
    padding: 10% 0 5% 0

  &__title
    display: flex
    align-items: center
    margin-bottom: 5%

    +mada-regular(2.2rem)
    line-height: 2.89rem

    +media(0px, $desktop-small)
      font-size: 2rem

    +tablet
      width: 100%

  &__img
    margin-right: 3%

  &__description
    margin-top: 5%

    +media(0px, $tablet)
      text-align: center

    +tablet
      text-align: left

.map
  height: $map-height
  width: 100%

  +media(0px, $desktop-small)
    order: 1

  +tablet
    height: $map-height + 400