@import './base/colors'
@import './base/typography'
@import './utils/variables'

.container--map
  height: $map-height
  justify-content: flex-end
  align-items: center

  background-color: $seashell

  border-left: 3vw solid $gallery

.address
  display: flex
  flex-direction: column
  justify-content: center
  width: 50%
  height: $map-height
  padding: 0 2% 0 15%
  box-sizing: border-box

  +mada-light(2.2rem)
  color: $mine-shaft
  line-height: 24px

  &__title
    display: flex
    align-items: center
    margin-bottom: 5%

    +mada-regular(2.2rem)
    line-height: 2.89rem

  &__img
    margin-right: 3%

  &__description
    margin-top: 5%

.map
  height: $map-height
  width: 100%
