@import '../base/typography'

.container--mission
  height: 80vh
  padding: 0 22.4%
  flex-direction: column
  justify-content: center
  align-items: center

  &__title
    margin-bottom: 4%

    +homenaje(5rem)

  &__text-block
    position: relative

    +mada-light(2.2rem)
    line-height: 40px

    &::before
      position: absolute
      top: -15%
      left: -7%

      +mada-black(61px)
      content: '„'