@import '../base/colors'
@import '../base/typography'
  
.container--products
  flex-direction: column
  align-items: center
  padding: 6% 22.4%

  &__title
    margin-bottom: 3%

    +homenaje(5rem)
    color: $mine-shaft

    +mobile-small
      font-size: 4rem

    +mobile-medium
      font-size: 4rem

    +mobile-large
      font-size: 4rem

    +tablet
      font-size: 4rem

  &__text
    margin-bottom: 6%

    +mada-light(2.2rem)
    line-height: 3rem
    color: $tundora

    +mobile-small
      text-align: center

    +mobile-medium
      text-align: center

    +mobile-large
      text-align: center

    +tablet
      text-align: center
  
.products
  display: flex
  flex-wrap: wrap
  width: 100%
  justify-content: space-between

  +mobile-small
    flex-direction: column
    align-items: center

  +mobile-medium
    flex-direction: column
    align-items: center

  +mobile-large
    flex-direction: row

  +tablet
    flex-direction: row

  &__item
    display: flex
    flex-direction: column
    margin: 5% 0
    max-width: 25%
    position: relative

    cursor: pointer

    +mobile-small
      display: block
      max-width: 80%

    +mobile-medium
      display: block
      max-width: 80%

    +mobile-large
      display: flex
      max-width: 50%

    +tablet
      display: flex
      max-width: 33.333%

    &:hover
      padding: 5% 0 0 0
      margin: 0

      background-color: $lima

      z-index: 5

      +mobile-small
        padding: 5% 5% 0 5%

      +mobile-medium
        padding: 5% 5% 0 5%

      +mobile-large
        padding: 5% 0 0 0

      +tablet
        padding: 5% 0 0 0

      & img
        position: relative
        width: 100%

        filter: invert(1)
        transition: filter 0.3s
        z-index: 0

      & p 
        position: absolute
        top: 100%
        left: 0
        padding: 0 11% 10%
        box-sizing: border-box

        background-color: $lima
                
        opacity: 1
        visibility: visible
        z-index: -4

        +mobile-small
          padding-top: 5%

        +mobile-medium
          padding-top: 5%

        +mobile-large
          padding-top: 5%

        +tablet
          padding-top: 5%

  & p 
    position: absolute
    top: 0
    left: 0

    +mada-regular(1.4rem)
    color: $white
    line-height: 1.8rem
    
    opacity: 0
    transition: opacity 0.2s
    visibility: hidden
    z-index: -1

  & img
    width: 100%

    z-index: -5
    