$phone-small: 320px
$phone-medium: 375px
$phone-large: 425px
$tablet: 768px
$desktop-small: 1024px
$desktop-large: 1440px

=media($min-width, $max-width)
  @media (min-width: #{$min-width}) and (max-width: #{$max-width - 1px})
    @content

=phone-small
  @media (max-width: #{$phone-medium - 1px}) 
    @content

=phone-medium
  @media (min-width: #{$phone-medium}) and (max-width: #{$phone-large - 1px}) 
    +phone-small
    @content

=phone-large
  @media (min-width: #{$phone-large}) and (max-width: #{$tablet - 1px}) 
    @content

=tablet
  @media (min-width: #{$tablet}) and (max-width: #{$desktop-small - 1px}) 
    @content;

=desktop-small
  @media (min-width: #{$desktop-small}) and (max-width: #{$desktop-large - 1px}) 
    @content; 

=desktop-large
  @media (min-width: #{$desktop-large}) 
    @content;
